{% extends 'base.html' %}


{% block content %}
<h1 class="h3 mb-2 text-gray-800">Visitors Details</h1>
<p class="mb-4">Create Visitor</p>

  


<body>
  <div class="container">
 <form method="post">
  <label for="visname">&emsp;<b>Name : </b> &emsp;&ensp; &nbsp;</label>
    <input name="visname" id="visname" style="width: 150px;" placeholder="Enter the name" value="{{ request.form['visname'] }}" required>
    <br>
    <label for="category">&emsp;<b>Category :</b> &ensp;</label>
    <input name="category" id="category" style="width: 150px;" placeholder="Enter the category" value="{{ request.form['category'] }}"  required>
    <br>
    
    <label for="phoneno">&emsp;<b>Phoneno:</b>&emsp;</label>
    <input name="phoneno" id="phoneno"style="width: 150px;" placeholder="Enter the phoneno" value="{{ request.form['phoneno'] }}" required>
    <br>
    <label for="unitno">&emsp;<b>BlockNo :</b>&nbsp;&ensp;&ensp;</label>
    <input name="unitno" id="unitno" style="width: 150px;" placeholder="Enter the unitno" value="{{ request.form['unitno'] }}" required>
    <br>

    
    
    
    
    <button class ="btn btn-primary" style="margin-left: 19px">Save</button>
    <input action="action" class="btn btn-primary" onclick="window.history.go(-1); 
      return false;" type="submit" value="Cancel"/>

  </form>



  </body>
{% endblock %}  