{% extends 'base.html' %}


{% block content %}
<body>

<h1 class="h3 mb-2 text-gray-800">Visitors Details</h1>
<p class="mb-4">View all the visitors till now  </p>
<div class="card shadow mb-4">
  <div class="card-header py-3">
    <h6 class="m-0 font-weight-bold text-primary">Visitor Table</h6>
  </div>

  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
        <thead>
          <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Category</th>
            <th>Phoneno</th>
            <th>Block no</th>
            <th>Date check in</th>
            
          </tr>
        </thead>
        <tbody align="center">
          {% for e in posts %}
          <tr>
            
              <td> {{ e.id }} </td>
              <td>{{ e.visname }} </td> 
              <td>{{ e.category }}</td>
              <td>{{ e.phoneno }}</td>
              <td>{{ e.unitno }}</td>
              <td>{{ e.datein}}</td>
              

              

            </tr>
            {% endfor %}
     </tbody>
     

  </table>  
 </div>
 </div>
 </div> 
<div class="button-group" align="right" >
  <a href="{{ url_for('views.addvisitor') }}" class="btn btn-primary" role="button" >
  Add Visitor </a>

</body>

{% endblock %}