{% extends 'base.html' %}


{% block content %}
<body>

<h1 class="h3 mb-2 text-gray-800">Maintenance Fee Details</h1>
<p class="mb-4">View all your residants status of payment  </p>
<div class="card shadow mb-4">
  <div class="card-header py-3">
    <h6 class="m-0 font-weight-bold text-primary">fee Table</h6>
  </div>

  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
        <thead>
          <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Block</th>
            <th>UnitNo</th>
            <th>MaintenanceFee</th>
            <th>Due</th>
            <th>History</th>
            <th>Payment</th>
          </tr>
        </thead>
        <tbody align="center">
          {% for e in posts %}
          <tr>
            
              <td> {{ e.id }} </td>
              <td>{{ e.Name }} </td> 
              <td>{{ e.Block }}</td>
              <td>{{ e.UnitNo }}</td>
              <td>{{ e.MaintenanceFee }}</td>
              <td>{{ e.Due }}</td>

              <td>
              <a href="{{ url_for('views.history', income_id=e.id ) }}" class="btn btn-primary" role="button" >
              View History </a>
            </td>
              <td>
              <a href="{{ url_for('views.payment', income_id=e.id ) }}" class="btn btn-primary" role="button" >
              Enter Payment </a>
            </td>

            </tr>
            {% endfor %}
     </tbody>
     

  </table>  
 </div>
 </div>
 </div> 
<div class="button-group" align="right" >
  <a href="{{ url_for('views.create') }}" class="btn btn-primary" role="button" >
  Create User </a>

</body>

{% endblock %}