{% extends 'base.html' %}


{% block content %}

<h1 class="h3 mb-2 text-gray-800">Visitors Details</h1>
<p class="mb-4">View visitors between dates</p>

  
  
<style>
  body, input{
    font-family: 'PT Sans',sans-serif;
    font-size: 1.2rem;
    display: block;
    padding: 0.5rem 1rem;
  }
</style>


<body>

  

 <form method="post">
 	<div class="form-group">
    <label for="startdate" >Start date </label>
    <input name="startdate"id="today" type="date" value="{{ request.form['startdate'] }}">
  </div>
    
    <div class="form-group">
      <label for="enddate">End Date</label>
    <input name="enddate" id="today" type="date" value="{{ request.form['enddate']}}">
    </div>

    
    <button class ="btn btn-primary">Submit</button>
    
  </form>
  <script>
    let today=new Date().toISOString().substr(0,10);
    document.querySelector("#today").value=today;
    document.querySelector("#today2").valueAsDate=new Date();
  </script>


	</body>


{% endblock %}  